body {
    padding: 0%;
    margin: 0%;
  }

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.footer {
  display: flex;
  gap: 100px;
  padding: 10px;
  background-color: gray;
  padding-left: 100px;
  padding-top: 100px;
  font-family: lato;
  padding-bottom: 100px;
}

.readMore{
  padding: 7px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 10px;
  color: gray;
  background-color: white;
  font-size: small;
}

.disclaimerRegel{
  background-color: black;
  padding-top: 5px;
  padding-bottom: 10px;
  padding-left: 100px;
}
footer b{
  font-size: 25px;
}

.footer p{
  max-width: 300px;
}

footer .logo{
  position: relative;  
  margin-top: -58px;
  filter: brightness(0) invert(1);
}

.icons{
  width: 20%;
  height: auto;
}





